<!DOCTYPE html>
<html>
    <head>
        <title>Rhythm &mdash; One & Multi Page Creative Theme</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="utf-8">
        <meta name="author" content="Roman Kirichik">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        
        <!-- Favicons -->
        <link rel="shortcut icon" href="images/favicon2.png">
        <link rel="apple-touch-icon" href="images/logo12.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/logo13.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/logo11.png">
        
        <!-- CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/style-responsive.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <script src="https://www.paypalobjects.com/api/checkout.js"></script>
        <link rel="stylesheet" href="css/vertical-rhythm.min.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/stylefr.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">


			<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

 <!-- CSS reset -->
	<link rel="stylesheet" href="css/reset.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
	
		<link rel="stylesheet" href="css/style4.css"> <!-- Resource style -->
        
    </head>
	

    <body class="appear-animate">

	
	
        
        <!-- Page Loader -->        
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->
        
        <!-- Page Wrap -->
        <div class="page" id="top">
            
          <!-- Navigation panel -->

            <nav class="main-nav light stick-fixed" style="background-color: #f8f8f8">
                <div class="full-wrapper relative clearfix">
                    <!-- Logo ( * your text or image into link tag *) -->
                    <div class="nav-logo-wrap local-scroll">
                        <a href="#top" class="logo">
                            <img src="logo2.png" alt="" />
                        </a>
                    </div>
                    <div class="mobile-nav">
                        <i class="fa fa-bars"></i>
                    </div>
                    <!-- Main Menu -->
                    <div class="inner-nav desktop-nav">
                        <ul class="clearlist scroll-nav local-scroll">
                            <li class="active"><a href="#home">Home</a></li>
                            <li><a href="#about">Login</a></li>
                            <li><a href="#services">Sign Up</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navigation panel -->
            
            
            <!-- Section -->
            <section style="width: 100%; height: 120vh; background-color: #f8c04d">
                <div class="relative container align-left" style="padding-top: 75px;">
                        
                   <h1 style="color:white; font-weight: bold; font-size: 40px; text-align: center;">TOPIC VIDEO</h1>
                    <iframe width="1140" height=600"
                    src="https://www.youtube.com/embed/tgbNymZ7vqY">
                </iframe>
                <br>
                <br>
                <br>
                <div style="display:flex;justify-content: flex-end;">
                    <div id="vid" style="width: 190px;height: 70px;">
                  <a href="Assignment.html" style="text-decoration:none; text-align: center; margin-right: 2%;">ASSIGNMENT<i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>  
                </div>   
<!--                         <div class="">
                            <% rows.forEach(function(rows) { %>
                            <h2>Name :<%=rows.username%>  </h2><br>
                            <h2>Email :<%=rows.email%>  </h2><br>

                            <% }); %>
                        </div>
                        <a href="/index.html">LOGOUT</a>
                     -->

                
            </section>
            <!-- End Section -->
            

            
            
            <!-- Divider -->
            <hr class="mt-0 mb-0 "/>
            <!-- End Divider -->
            
            
            <!-- Footer -->
            <footer class="page-section bg-gray-lighter footer pb-40">
                <div class="container">
                    
                    <!-- Footer Logo -->
                    <div class="local-scroll mb-30 wow fadeInUp" data-wow-duration="1.2s">
                        <a href="#top"><img src="images/7.png" width="400" height="250" alt="" /></a>&nbsp;
                    </div>
                    <div class="local-scroll mb-30 wow fadeInDown " data-wow-duration="1.2s">
                    <div class="image-responsive">
                        <a href="#top"><img src="images/5.png" width="200" height="100" alt="" align="center" /></a>
                        <a href="#top"><img src="images/6.png" width="200" height="100" alt="" align="center" /></a>
                        <a href="#top"><img src="images/2.png" width="200" height="100" alt="" align="center" /></a>              
                        <a href="#top"><img src="images/logo1.png" width="150" height="75" alt="" align="center"/></a>
                    
                        <a href="#top"><img src="images/logo3.png" width="100" height="100" alt="" align="center" /></a>
                    </div>
                    </div>
                    <br><br><br>
                    <!-- End Footer Logo -->
                    <!-- Social Links -->
                    <div class="footer-social-links mb-110 mb-xs-40">
                        <a href="https://www.facebook.com/DTU2018RotaractMUN/?ref=br_rs" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/rotaractdtu?lang=en" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.instagram.com/rotaract_dtu/" title="Instagarm" target="_blank"><i class="fa fa-instagram"></i></a>
                        <a href="https://rotaractdtu.wordpress.com" title="wordpress" target="_blank"><i class="fa fa-wordpress"></i></a>
                        <a href="https://in.linkedin.com/company/rotaract-club-of-dtu" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>

                    </div>
                    <!-- End Social Links -->  
                    
                    <!-- Footer Text -->
                    <div class="footer-text">
                        
                        <!-- Copyright --><!--
                        <div class="footer-copy font-alt">
                            <a href="https://rotaractdtu.wordpress.com" target="_blank">&copy;Rotaract DTU</a>.
                        </div>
                        -->
                        <!-- End Copyright -->
                        
                        <div class="footer-made">
                            Made with <span style="color: #e25555;">&hearts;</span> by Enactus, Delhi Technological University
                        </div>
                        
                    </div>
            <!-- End Footer Text -->
        </div>
        <!-- End Page Wrap -->
        
        
        <!-- JS -->
        <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/SmoothScroll.js"></script>
        <script type="text/javascript" src="js/jquery.scrollTo.min.js"></script>
        <script type="text/javascript" src="js/jquery.localScroll.min.js"></script>
        <script type="text/javascript" src="js/jquery.viewport.mini.js"></script>
        <script type="text/javascript" src="js/jquery.countTo.js"></script>
        <script type="text/javascript" src="js/jquery.appear.js"></script>
        <script type="text/javascript" src="js/jquery.sticky.js"></script>
        <script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
        <script type="text/javascript" src="js/jquery.fitvids.js"></script>
        <script type="text/javascript" src="js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
        <!-- Replace test API Key "AIzaSyAZsDkJFLS0b59q7cmW0EprwfcfUA8d9dg" with your own one below 
        **** You can get API Key here - https://developers.google.com/maps/documentation/javascript/get-api-key -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZsDkJFLS0b59q7cmW0EprwfcfUA8d9dg"></script>
        <script type="text/javascript" src="js/gmap3.min.js"></script>
        <script type="text/javascript" src="js/wow.min.js"></script>
        <script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
        <script type="text/javascript" src="js/jquery.simple-text-rotator.min.js"></script>
        <script type="text/javascript" src="js/all.js"></script>
        <script type="text/javascript" src="js/contact-form.js"></script>
        <script type="text/javascript" src="js/jquery.ajaxchimp.min.js"></script>
        <!--[if lt IE 10]>
                <script type="text/javascript" src="js/placeholder.js"></script><![endif]-->

<script src="js/main.js"></script> <!-- Resource jQuery -->

<script>
	if( !window.jQuery ) document.write('<script src="js/jquery-3.0.0.min.js"><\/script>');

    function myFunction()
    {
        console.log("kaka")
    }
</script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/iScroll/5.1.3/iscroll.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.22/webfontloader.js'></script>

  
<script  src="js/indexfr.js"></script>


    <script  src="js/index6.js"></script>
            </footer>
</html>
